<div class="container-fluid">
  <div class="p-5 mb-4 rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Seja Bem-vindo</h1>
      <p class="col-md-8 fs-4">O idioma usado é: <%= locale(I18n.locale) %></p>
      <p>Data: <%= data_br(Date.today)%></p>
      
    </div>
  </div>
</div>
