*{
  font-family:sans-serif;
  font-size: 1rem;
 
}
h1{
  padding: 100px;
  text-align: center;
}
Button and Input{
  border-radius:    2px;
}
link{
  color: red;
}
.grande{
  height:20000px;
}
.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}